* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  flex-direction: column;
}

h1 {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

#book-list {
  border: 2px solid black;
  margin: auto;
  max-width: 700px;
}

.book {
  display: flex;
  justify-content: space-between;

  padding: 10px;
  border: 1px solid rgb(66, 63, 63);
}

.book-details {
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  font-size: 1rem;
}

form #add-btn {
  display: flex;
  align-self: flex-end;
  padding: 0.3rem;
  font-size: 1rem;
}
